<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>Ultimate</title>

    <link rel="stylesheet" type="text/css" href="css/bootstrap.min.css">
</head>
<body>
<header>
    <div class="container">
        <div class="row">
            <div class="col-md-8">
                <h1><i>Ultimate</h1></i><br>
                <h4><i>Designer Toolkit</i></h4>
            </div>
            <div class="col-md-4">
                <input type="text" placeholder="Search" name="search">
                <input type="button" name="Submit" value="Submit">
            </div>
        </div>

    </div>
    <div class="container">
        <ul class="nav nav-tabs">
            <li role="presentation" class="active"><a href="#">Home</a></li>
            <li role="presentation"><a href="#">Profile</a></li>
            <li role="presentation"><a href="#">Messages</a></li>
            <li role="presentation"><a href="#">About Us</a></li>
            <li role="presentation"><a href="#">Contact</a></li>
            <li role="presentation"><a href="#">Status</a></li>
            <li role="presentation"><a href="#">Blogs</a></li>
        </ul>

    </div>
</header>

<div class="container">
    <div class="row">
        <div class="col-md-3">
            <img src="image/nature.jpg" height="200px" width="250px">
        </div>
        <div class="col-md-3">
            <img src="image/bulb.jpg" height="200px" width="250px">
        </div>
        <div class="col-md-3">
            <img src="image/butterfly.jpg" height="200px" width="250px">
        </div>
        <div class="col-md-3">
            <img src="image/sea.jpg" height="200px" width="250px">
        </div>

    </div>
</div>


<footer>
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <p align="justified">
                    <i>Thanks to CSS3 and better and better browser support for it, we can accomplish things now with CSS that previously required fancy JavaScript work.
                        In this tutorial, I’ll walk you through fading in text over an image on hover.</i>
                </p>
            </div>
            <div class="col-md-6">
                <p align="justified">
                    <i>Thanks to CSS3 and better and better browser support for it, we can accomplish things now with CSS that previously required fancy JavaScript work.
                        In this tutorial, I’ll walk you through fading in text over an image on hover.</i>
                </p>
            </div>
        </div>

        <div class="row">
            <div class="col-md-6">
                <p align="justified">
                    <i> Thanks to CSS3 and better and better browser support for it, we can accomplish things now with CSS that previously required fancy JavaScript work.
                        In this tutorial, I’ll walk you through fading in text over an image on hover.</i>
                </p>
            </div>
            <div class="col-md-6">
                <p align="justified">
                    <i>is a long established fact that a reader will be distracted by the readable
                        content of a page when looki</i>

                </p></div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <h3><i>Welcome To Our Company</i></h3><br>
                <p align="justified">
                    Thanks to CSS3 and better and better browser support for it, we can accomplish things now with CSS that previously required fancy JavaScript work.
                    In this tutorial, I’ll walk you through fading in text over an image on hover.
                </p>

            </div>
            <div class="col-md-6"><h3><i>Contact Us:</i></h3><br>

                Mobile:+88012888000<br>
                Email: f20_777@yahoo.com
            </div>
        </div>
    </div>
    <div class="container">
        <b>Copyright &copy; Ultimate Company Limited.</b>

    </div>
</footer>
<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
</body>
</html>
